/* ==================HOMEPAGE================== */

.page {
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: center;
    height: 90vh;
} 
  
.container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-self: center;
}
  
.login-page {
    align-self: flex-start;
}
  
.label-form {
    align-self: flex-start;
}
  
  
/* ==================BLOG PAGE================== */

.blogs-container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blogs-content {
    /* border: 1px solid red; */
    align-self: center;
    border-radius: 10px;
}

.jumbotron {
    padding: 10px;
    margin: 10px;
}
